@page
@model MDsSuperBikes.Pages_Bikes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bike[0].ModelName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bike[0].CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bike[0].BikeType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bike[0].Torque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bike[0].EngineCC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bike[0].TopSpeed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bike[0].DateOfLaunch)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Bike) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ModelName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BikeType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Torque)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EngineCC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TopSpeed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfLaunch)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
